.notification-alert{
	z-index: 128;
	padding: 5px;
	position: fixed;
	display: block;
	margin: auto;
	width: 80%;
	left: 10%;
	bottom: 5%;
	border: solid 1px;
	border-radius: 5px;
	background-color: white;
	opacity: 90%;
	cursor: pointer;
}
.notification-alert:hover{
	opacity: 100%;
}
.notification-alert h6{
	padding: inherit;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: solid 2px;
}
.notification-alert p{
	margin-left: 10px;
	font-size: 1.25em;
}
.notification-alert button{
	border: none;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	border-radius: 5px;
	background-color: inherit;
}
.notification-alert button:hover{
	background-color: #28a745;
}

.success {
	border-color: #28a745;
	background-color: #44c963;
}
.fail {
	border-color: #dc3545;
	background-color: #e87b85;
}
