.progressBarContainer {
	display: flex;
	flex-direction: row;
	height: 3em;
	border-radius: 5px;
	background-color: #e9ecef;
	width: 100%;
	text-align: center;
}

.labelContainer {
	display: flex;
	flex-direction: row;
	height: 2em;
	width: 100%;
	margin: auto;
}

.labelLoss {
	flex-grow: 1;
	text-align: left;
	margin-bottom: 0;
}

.labelProfit {
	flex-grow: 1;
	text-align: center;
	margin-bottom: 0;
}

.labelStretch {
	flex-grow: 1;
	text-align: right;
	margin-bottom: 0;
}

.centerText {
	flex-grow: 1;
	margin: auto;
}

.progressBarContainer .progress {
	font-size: 1em;
	height: inherit;
}
.progressBarContainer .progress div {
	padding: 0px;
}

.lossBarDefault {
	flex-grow: 3;
	border-radius: 5px;
}

.profitBarDefault {
	flex-grow: 7;
}

.stretchBarDefault {
	flex-grow: 3;
}
