* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial , Helvetica , sans-serif ;
  line-height: 1.4;
}

h2 {
	text-align: center;
}

.container-login {
	border-width: 5px;
	border-style: solid;
	border-color: yellow;
}

.toast-container {
	z-index: 128;
	position: fixed;
	display: block;
	right: 10px;
	bottom: 10px;
	background-color: none;
}

.toast {
	min-width: 400px;
	width: auto;
}

@media only screen and (max-width: 768px) {
	.toast-container {
		z-index: 128;
		position: fixed;
		display: block;
		margin: auto;
		bottom: 10px;
		background-color: none;
	}
	.toast {
		min-width: 95vw;
		width: auto;
	}
}

/*Look for floating flex containers*/
.flex-container {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	box-shadow: 3px 3px 10px black;
}

/*.table-container{
	max-height: 70vh;
}*/

/*Look for data tables*/
.table {
	border-radius: 5px;
	border-bottom: none;
	max-height: 70vh;
	overflow: auto;
}

.table table {
	column-width: 200px;
}

.table thead {
	box-shadow: 0px 3px 4px black;
	border: none;
}
.table thead tr th{
	border: none;
}

.table thead .table-secondary-header {
	color: grey;
}

.table tbody {
	cursor: pointer;
}

.table tbody .selectedRow {
	box-shadow: 0px 3px 4px black, 0px -1px  3px black;
	text-shadow: 2px 2px 3px #000000;
	background-color: #43494e;
}

.global-last-page-button {
	width: 50%;
	float: left;
}
.global-next-page-button {
	width: 50%;
	float: right;
}

.container {
  padding: 15px;
	display: block;
	min-width: 80vw;
}
