* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial , Helvetica , sans-serif ;
  line-height: 1.4;
}

h2 {
	text-align: center;
}

/*Look for floating flex containers*/
.flex-container {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	box-shadow: 3px 3px 10px black;
}

/*Look for data tables*/
.table {
	border-radius: 5px;
	border-bottom: none;
}

.table table {
	column-width: 200px;
}

.table thead {
	box-shadow: 0px 3px 4px black;
	border: none;
}
.table thead tr th{
	border: none;
}

.table thead .table-secondary-header {
	color: grey;
}

.table tbody {
	cursor: pointer;
}

.table tbody .selectedRow {
	box-shadow: 0px 3px 4px black, 0px -1px  3px black;
	text-shadow: 2px 2px 3px #000000;
	background-color: #43494e;
}

.container {
  padding: 15px;
	display: block;
	min-width: 80vw;
}
