.transaction-container{
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 767px) {
	.transaction-container {
		flex-direction: column;
	}
}
.transaction-container .left {
	flex-grow: 5;
}
.transaction-container .right {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	flex-grow: 1;
}
