PORTHTTPS='443'
PORTHTTP='22'
API_KEY='api_key' (this should be large and random)

PGHOST=''
PGUSER=''
PGDATABASE=''
PGPASSWORD=''
PGPORT=''

SSL_KEY_PATH=''
SSL_CERT_PATH=''

certBotURL='/'
certBotMSG=''
