.control-container {
	display: flex;
	flex-direction: row;
}

.control-button {
	border: 1px solid rgba(255, 255, 255, 0.5);

	border-radius: 50px;
	width: 50px;
	height: 50px;

	transition: 0.1s ease-in-out;
}

.control-button:hover {
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
}

.control-button:active {
	box-shadow: none;
}

.control-button:disabled {
	box-shadow: none;
	background-color: #88877B;
}

.add-button {
	background-image: url(../../../assets/add.png);
	background-size: cover;
	background-color: #2ABB36;
	
	margin: 3px;
}

.edit-button {
	background-image: url(../../../assets/edit.png);
	background-size: cover;
	background-color: #DFD924;

	margin: 3px;
}

.delete-button {
	background-image: url(../../../assets/delete.png);
	background-size: cover;
	background-color: #DD5454;

	margin: 3px;
}

@media only screen and (max-width: 767px) {
	.control-container {
		flex-direction: column;
	}

	.add-button {
		order: 3;
	}

	.edit-button {
		order: 2;
	}

	.delete-button {
		order: 1;
	}
}
