html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: Arial , Helvetica , sans-serif ;
	line-height: 1.4;
}

* {
	box-sizing: border-box;
}

#root {
	height: 100%;
}

h2 {
	text-align: center;
}

.container-login {
	border-width: 5px;
	border-style: solid;
	border-color: yellow;
}

.container-nologin {
}

.toast-container {
	z-index: 128;
	position: fixed;
	display: block;
	right: 10px;
	bottom: 10px;
	background-color: none;
}

.toast {
	min-width: 400px;
	width: auto;
	cursor: pointer;
}

.toast-header {
	border-radius: 5px;
}

.toast-success .toast-header{
	background-color: #28a745;
	color: white;
}

.toast-warning .toast-header{
	background-color: #ffc107;
	color: black;
}

.toast-error .toast-header{
	background-color: #dc3545;
	color: white;
}

.toast- .toast-header{

}

/*Look for floating flex containers*/
.flex-container {
	/*background-color: white;
	border-radius: 5px;
	padding: 5px;*/
	margin: 10px;

	/*box-shadow: 3px 3px 10px black;*/
}

.page-shadow {
	box-shadow: 1px 1px 2px black;
}

/*.table-container{
	max-height: 70vh;
}*/

/*Look for data tables*/
.table {
	border-radius: 5px;
	border-bottom: none;
	max-height: 70vh;
	overflow: auto;
}

.table table {
	column-width: 200px;
}

.table thead {
	box-shadow: 0px 3px 4px black;
	border: none;
}
.table thead tr th{
	border: none;
}

.table thead .table-secondary-header {
	color: grey;
}

.table tbody {
	cursor: pointer;
}

.table tbody .selectedRow {
	box-shadow: 0px 3px 4px black, 0px -1px  3px black;
	text-shadow: 2px 2px 3px #000000;
	background-color: #43494e;
}

.global-last-page-button {
	width: 4em;
	float: left;
}
.global-next-page-button {
	width: 4em;
	float: right;
}

.container {
  padding: 15px;
	display: block;
	min-width: 80vw;
}

.layout-tb-container {
	display: grid;

	grid-template-columns: auto 200px;
	grid-template-rows: 10px 1f;
	grid-template-areas:
		"search corner"
		"table controls";
	column-gap: 8px;
	row-gap: 10px;
}

.layout-tb-search {
	grid-area: search;
	justify-self: stretch;
	align-self: end;
}

.layout-tb-table {
	grid-area: table;
	justify-self: center;
}

.layout-tb-title {
	grid-area: corner;
	margin: 0px;
	align-self: end;
	justify-self: left;
}

.layout-tb-controls {
	grid-area: controls;
	justify-self: left;
}

@media only screen and (max-width: 768px) {
	.toast-container {
		z-index: 128;
		position: fixed;
		display: block;
		margin: auto;
		top: 10px;
		background-color: none;
	}
	.toast {
		min-width: 95vw;
		width: auto;
		cursor: pointer;
	}
	.container {
		margin-bottom: 60px;
	}

	.layout-tb-container {
		display: grid;
		grid-template-columns: minmax(400px, 1fr);
		grid-template-areas:
			"search"
			"table";
	}

	.layout-tb-search {
		grid-area: search;
		justify-self: stretch;
		align-self: end;
	}

	.layout-tb-table {
		grid-area: table;
		justify-self: center;
	}

	.layout-tb-title {
		position: fixed;
		bottom: 65px;
		margin: 0px;
	}

	.layout-tb-controls {
		position: fixed;
		right: 5px;
		bottom: 65px;
	}
}