.bank-container{
	display: flex;
	flex-basis: auto;
	flex-direction: row;
}

@media only screen and (max-width: 767px) {
	.bank-container {
		flex-direction: column;
	}
}

.left {
	flex-grow: 1;
}

.right {
	flex-grow: 10;
}
