.expense-container{
	display: flex;
	flex-direction: row;
}
@media only screen and (max-width: 767px) {
	.expense-container {
		flex-direction: column;
	}
}

.expense-container .left {
	flex-grow: 5;
}

.expense-container .right {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	flex-grow: 1;
}
